/* You can add global styles to this file, and also import other style files */


.sidemenu{
    background-color: red;
    height: 100px;
    
}

.main{
    background-color: green;
    height: 100px;
    
}

.sideMenuUl{
    list-style-type: none;
}